<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tables</title>
</head>
<body>
    <h1>Table Element</h1>
    <table border="3">
    <tr>
        <th>Name</th>
        <th colspan="2">Phone</th>
    </tr>

    <tr>
       <td>Prajukta</td>
       <td>123456789</td>
       <td>345678901</td>
    </tr>
    
    <tr>
        <td>Eve</td>
        <td>123456789</td>
        <td>234567890</td>
    </tr>
    
    </table>
<h1>The details element</h1>

<details>
  <summary>Epcot Center</summary>
  <p>Epcot is a theme park at Walt Disney World Resort featuring exciting attractions, international pavilions, award-winning fireworks and seasonal special events.</p>
</details>

<h1>The progress element</h1>

<label for="file">Downloading progress:</label>
<progress id="file" value="32" max="100"> 32% </progress>

<h1>The meter element</h1>

<p>The meter element is used to display a gauge:</p>

<label for="disk_c">Disk usage C:</label>
<meter id="disk_c" value="2" min="0" max="10">2 out of 10</meter><br>

<label for="disk_d">Disk usage D:</label>
<meter id="disk_d" value="0.6">60%</meter>

</body>
</html>